@font-face {
    font-family: "proximanova_light" ;
    src: url(../font/proximanova_light.woff), format('woff');
}
@font-face {
    font-family: "proximanova_bold" ;
    src: url(../font/proximanova_bold.woff), format('woff');
}
@font-face {
    font-family:"Proxima-Nova-Thin";
    src: url(../font/Proxima-Nova-Thin.woff),format('woff');
}
@font-face {
    font-family: "ProximaNova-Medium";
    src: url(../font/ProximaNova-Medium.woff),format('woff');
}
@font-face {
    font-family: "proximanova_regular";
    src: url(../font/proximanova_regular.woff)format('woff');
}